<!doctype html>
<html ng-app = "app">
  <head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/_assets/bootstrap/css/bootstrap.min.css">
 
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="app.js"></script>
  </head>
  <body>

  	<div ng-controller="mainMenu as mm">

      <nav class="row">

      <ul class="nav nav-pills">
        <li ng-repeat="itemMenu in mm.listMenu"  ng-class="{active : mm.isActiv(itemMenu.url)}">
          <a href ng-click="mm.openUrl(itemMenu.url)"> {{itemMenu.name}} </a>  
        </li>
      </ul>

      </nav>

      <div class="container">
        <div class="row" ng-show="mm.showContent">
          <div class="well" id="content">

            <h1> {{mm.fullContent.header}} <br><br>  </h1>
            <p ng-bind-html="mm.sce.trustAsHtml(mm.fullContent.content)"></p>

           </div> 
        </div>

        <div class="row" ng-hide="mm.showContent">
          <div class="text-center"><img src="../loader.gif" /></div>
        </div>

      </div>
  	</div>

  </body>
</html>